@charset "utf-8";
/* CSS Document */
div.cont{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:800px;
	height:800px;
	-webkit-perspective:900;
	-moz-perspective:900;
}
div.bord{
	width:600px;
	height:600px;
	
	margin:90px auto 0px auto;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	
}
/*div.bord:hover{

	-webkit-transform: rotateX(-10deg) rotateY(20deg);
}*/
	
div.bord div{
	width:180px;
	height:180px;
	float:left;
	background-color:#030;
	margin-left:10px;
	margin-top:10px;
}
